/* --------------------------------------------------------------------------------------- Text/Padding/Margin */

body {
    margin: 0;
    padding: 0;
    padding-top: 5rem;
    font-size: 100%;
    font-family: 'Lora', serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

p {
    margin: 0;
    text-align: justify;
}

.section-header {
    font-weight: 700;
    margin-bottom: 3rem;
}

.text-bold {
    font-weight: 600;
}

.text-medium {
    font-weight: 500;
}

.text-larger {
    font-size: 112%;
}

/* --------------------------------------------------------------------------------------- Borders/other */

hr {
    width: 100px;
    margin: 2rem auto;
    border-top: 2px solid #CC007A;
}

.border-color-white {
    border-color: #FFFFFF;
}

/* --------------------------------------------------------------------------------------- Background Colors */

.bg-color-black {
    background-color: #000000;
}

.bg-color-light-beige {
    background-color: #fefbf5;
}

.bg-color-beige {
    background-color: #F4ECE1;
}

.bg-color-dark-beige {
    background-color: #F5D59A;
}

.bg-color-grey {
    background-color: #575757;
}

/* --------------------------------------------------------------------------------------- Text Colors */

.text-white {
    color: #FFFFFF;
}

.text-grey {
    color: #575757;
}

.text-pink {
    color: #CC007A;
}

/* --------------------------------------------------------------------------------------- Containers */

.container-wrapper {
    padding-top: 3rem;
    padding-bottom: 3rem;
    scroll-margin-top: 5em;
}

/* --------------------------------------------------------------------------------------- Buttons */

.btn--cta {
	font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 3px;
    text-align: center;
}

.btn--pink {
    color: #FFFFFF;
    background-color: #CC007A;
    box-shadow: 2px 2px 8px #575757;
}

.btn--pink:hover,
.btn--pink:active,
.btn--pink:focus,
.btn--pink:active:focus {
    background-color: #B8006E;
    color: #000000;
}

/* --------------------------------------------------------------------------------------- Icons */

.icon-pink {
    color: #CC007A;
}

.icon-dark-beige {
    color: #F5D59A;
}

/* --------------------------------------------------------------------------------------- Navbar */

.navbar {
    opacity: 95%;
}

.navbar>.container {
    align-items: flex-end;
}

.nav-link {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding-bottom: 0;
}

.nav-link:hover {
    color: #CC007A;
    transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.fa-bars {
    font-size: 32px;
}

/* --------------------------------------------------------------------------------------- Hero */

.hero-image {
    height: 100vh;
    background-image: url('../images/hero.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
}

.hero-content {
    position: absolute;
    bottom: 25%;
}

.hero-header {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 2rem;
    line-height: 1.5em;
    text-shadow: 3px 3px 6px #575757;
}

/* --------------------------------------------------------------------------------------- Banner */

.banners-image {
    height: 75vh;
    background-image: url('../images/banner.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
}

.container-consultation {
    background-color: rgba(244, 236, 225, 0.8);
}

.media-content {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.media-content a i:hover,
.media-content a i:active,
.media-content a i:focus,
.media-content a i:active:focus {
    color: #F5D59A !important;
}

.media-text {
    font-family: 'Poppins';
    font-size: 1.25rem;
    line-height: 2rem;
}

/* --------------------------------------------------------------------------------------- Prices */

.prices-content {
    height: 100%;
    box-shadow: 4px 4px 6px #575757;
}

.card-header:first-child {
  border-radius: 0;
}

.prices-header {
    background-color: #EEEEEE;
}

.prices-text {
    font-size: 130%;
    font-weight: 500;
}

.prices-small-print {
    font-size: 0.75rem;
}

.prices-body {
    border-radius: 0 0 3px 3px;
}

.prices-list {
    color: #575757;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1.75rem;
    font-weight: 500;
}

.prices-banner-text {
    font-family: 'Poppins';
    font-size: 1.25rem;
    line-height: 2rem;
    
}

/* --------------------------------------------------------------------------------------- Gallery */

.container-gallery-video {
    box-shadow: 4px 4px 6px #575757;
}

/* --------------------------------------------------------------------------------------- Contact Us */

.form-text {
    font-family: 'Poppins'    
}

.googlemap-container,
.googlemap {
    width: 100%;
    height: 100%;
}

/* --------------------------------------------------------------------------------------- Footer */

.footer-text {
    font-family: 'Poppins';
    font-weight: 500;
}

.footer-media a i:hover,
.footer-media a i:active,
.footer-media a i:focus,
.footer-media a i:active:focus {
    color: #F5D59A !important;
}

.footer-copy {
    font-size: 80%;
}

/* --------------------------------------------------------------------------------------- Thank you */

.thankyou-img-container {
    width: 125px;
}

.thankyou-img {
    width: 100%;
    height: 100%;
}

.thankyou-link a {
    color: #000000;
}

.thankyou-link a:hover,
.thankyou-link a:active,
.thankyou-link a:focus,
.thankyou-link a:active:focus {
    color: #CC007A;
}

/* --------------------------------------------------------------------------------------- Text Animation */

.animation-slide-in-left-line1 {
    animation-name: slide-in-left;
    animation-duration: 2s;
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
        opacity: 0.25;
    }
    
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.animation-slide-in-left-line2 {
        animation-name: slide-in-left;
        animation-duration: 4s;
}

@keyframes slide-in-left {
    from {
        transform: translateX(-300%);
        opacity: 0.25;
    }
    
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.animation-slide-in-left-line3 {
    animation-name: slide-in-left;
    animation-duration: 6s;
}

@keyframes slide-in-left {
    from {
        transform: translateX(-400%);
        opacity: 0.25;
    }
    
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

/* --------------------------------------------------------------------------------------- Media Queries */

@media screen and (max-width: 1199px) {
    .hero-header {
        font-size: 2.5rem;
    }

    .hero-image {
        height: 90vh;
    }

}

@media screen and (min-width: 992px) {
    p {
        font-size: 112%;
    }

    .hero-image {
        background-attachment: fixed;
    }

    .banners-image {
        background-attachment: fixed;
    }
    
}

@media screen and (max-width: 991px) and (orientation: portrait) {
    .hero-content {
        bottom: 3rem;
     }

    .hero-header {
        font-size: 2.5rem;
    }

    .banners-image {
        height: 800px;
    }

}

@media screen and (max-width: 991px) and (orientation: landscape) {
    p {
        font-size: 90%;
    }   

    .hero-image {
        height: 80vh;
    }

    .hero-content {
        bottom: 3rem;
    }

    .hero-header {
        font-size: 2rem;
    }

    .hero-button {
        display: none;
    }

    .banners-image {
        height: 800px;
    }

    .media-text,
    .prices-banner-text {
        font-size: 1rem;
        line-height: 2rem;
    }

    .footer-text {
        font-size: 85%;
    }

    .footer-copy {
        font-size: 70%;
    }

}

@media screen and (min-width: 768px) {
    .footer-thankyou {
        position: fixed;
        width: 100%;
        max-width: 100%;
        bottom: 0;
        margin: 0 auto;
    }
    
}

@media screen and (max-width: 767px) {
    .hero-content {
        bottom: 1rem;
    }

     .hero-header {
        font-size: 2rem;
    }

    .hero-button {
        display: none;
    }
    
    .media-text,
    .prices-banner-text {
        font-size: 1.15rem;
        line-height: 2rem;
    }

    .googlemap-container,
    .googlemap {
        width: 100%;
        height: 250px;
    }

}

@media screen and (max-width: 575px) {
    .hero-image {
        background-image: url('../images/hero-mobile.webp');
    }

    .banners-image {
        background-image: url('../images/banner-mobile.webp');
    }

}


@media screen and (max-width: 320px) {
    p {
        font-size: 90%;
    }

    .navbar {
        height: 5rem;
    }

    #whitewalkies-logo {
        width: 175px;
        height: 100%;
    }

    .hero-image {
        height: 65vh;
    }

    .hero-header {
        font-size: 1.5rem;
    }

    .media-text,
    .prices-banner-text {
        font-size: 1rem;
        line-height: 2rem;
    }

    .googlemap-container,
    .googlemap {
        height: 250px;
    }

    .footer-text {
        font-size: 90%;
    }

    .footer-copy {
        font-size: 70%;
    }
}